.index {
    .first-page {
        position: relative;
        width: 100%;
        z-index: 12;

        .roundBox {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 5;
            width: pxConvertor(538);
            height: pxConvertor(537.3);

            .ycce {
                color: #fff;
                width: 55%;

                .box {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    p {
                        font-size: pxConvertor(210);
                        font-weight: 300;
                        opacity: 0.35;
                        transition: 0.3s;
                        line-height: 0.84;
                    }

                    .active {
                        opacity: 1;
                    }
                }
            }

            .ycce-box {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                color: #fff;

                >div {
                    width: fit-content;
                    opacity: 0;
                    transition: 0.3s;

                    p {
                        font-size: pxConvertor(16);
                        letter-spacing: 0.05em;
                    }
                }

                .active {
                    opacity: 1;
                }

                .yearn-box {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    top: -1.8vw;
                }

                .craft-box {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    right: -4.2vw;

                }

                .cohesion-box {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    bottom: -2vw;
                }

                .eco-box {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    height: 100%;
                    left: -2.9vw;
                }
            }

            .round {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }

                .dotBox {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    .dot {
                        position: absolute;
                        width: pxConvertor(3.01);
                        height: pxConvertor(3.01);
                        border-radius: 50%;
                        background-color: #fff;
                        transition: 0.3s;

                        &:nth-child(1) {
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            top: -0.2vw;
                        }

                        &:nth-child(2) {
                            top: 0;
                            bottom: 0;
                            margin: auto 0;
                            right: -0.2vw;
                        }

                        &:nth-child(3) {
                            top: 0;
                            bottom: 0;
                            margin: auto 0;
                            left: -0.2vw;
                        }

                        &:nth-child(4) {
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            bottom: -0.2vw;
                        }

                        .active-box {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            left: pxConvertor(-40);
                            bottom: 0;
                            top: 0;
                            margin: auto 0;
                            width: pxConvertor(83.2261);
                            height: pxConvertor(83.2261);
                            background-color: #ffffff11;
                            border-radius: 50%;
                            color: #fff;
                            letter-spacing: 0.1em;
                            font-size: pxConvertor(16);
                            opacity: 0;
                            transition: 0.3s;

                            &::after {
                                display: block;
                                content: "";
                                width: 90%;
                                height: 90%;
                                border-radius: 50%;
                                position: absolute;
                                left: 0;
                                top: 0;
                                bottom: 0;
                                right: 0;
                                margin: auto;
                                background-color: #ffffff;
                                opacity: 0.15;
                                z-index: 2;
                            }
                        }
                    }

                    .active {
                        background-color: transparent;

                        .active-box {
                            opacity: 1;
                        }
                    }
                }
            }

            .hover-area {
                display: flex;
                flex-wrap: wrap;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                transform: rotate(45deg);

                .box {
                    flex: 0 0 50%;
                    height: 50%;

                }
            }
        }

        .videoBox {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;

            video {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 0.5s;
                filter: brightness(0.6);
            }

            .active {
                opacity: 1;
            }
        }

        .banner-titleBox {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 5;
            pointer-events: none;

            .box {
                position: absolute;
                left: pxConvertor(118.79);
                bottom: pxConvertor(88.84);
                width: pxConvertor(375);
                color: #fff;

                .title {
                    font-size: pxConvertor(26);
                    font-weight: 400;
                    margin-bottom: pxConvertor(10);
                    letter-spacing: 0.6em;
                    opacity: 0;
                    transition: 1.5s;
                    filter: blur(3px);
                    transform: translateX(-30px);

                    span {
                        position: relative;
                        font-size: pxConvertor(32);
                        margin-right: 1.6vw;
                        letter-spacing: 0.2em;

                        &::after {
                            display: block;
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            margin: auto 0;
                            right: -0.8vw;
                            width: pxConvertor(3);
                            height: pxConvertor(3);
                            background-color: #fff;
                            border-radius: 50%;
                        }
                    }

                }

                p {
                    font-size: pxConvertor(18);
                    font-weight: 200;
                    letter-spacing: 0.07em;
                    line-height: 2;
                    opacity: 0;
                    transition: 1.5s;
                    filter: blur(3px);
                    transform: translateX(-30px);
                    font-family: "Microsoft JhengHei", serif;
                }
            }

            .active {
                .title {
                    transform: translateX(0);
                    filter: blur(0);
                    opacity: 1;
                }

                p {
                    transform: translateX(0);
                    filter: blur(0);
                    opacity: 1;
                }
            }
        }



    }

    .second-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 6.5vw;

        .titleBox {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 4vw 0 3vw;

            h4 {
                margin: 1.3vw 0 1vw;
            }

            p {
                margin-bottom: 1.8vw;
            }
        }

        .imgBox {
            position: relative;
            width: pxConvertor(1090);
            height: pxConvertor(704.71);
            overflow: hidden;
            border-radius: 30px;

            img {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                margin: 0 0 0 auto;
                width: auto;
                height: 100%;
            }
        }
    }

    .third-page {
        display: flex;
        align-items: center;
        margin-bottom: 2.5vw;

        .left {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: pxConvertor(601.9);

            .titleBox {
                h2 {
                    position: relative;

                    &:nth-child(1) {
                        &::after {
                            display: block;
                            content: "";
                            position: absolute;
                            width: pxConvertor(240);
                            height: 1px;
                            background-color: #a09289;
                            top: 1.1vw;
                            left: 13vw;
                            transform: scaleX(0);
                            transform-origin: left center;
                            transition: 0.8s;
                        }
                    }

                    &:nth-child(2) {
                        margin-left: 2.5vw;
                    }
                }

                .active {
                    &::after {
                        transform: scaleX(1) !important;
                    }
                }
            }

            .bg {
                position: absolute;
                width: 100%;

                img {
                    position: absolute;
                    left: -3vw;
                    top: -18vw;
                    width: pxConvertor(767.11);
                    height: auto;
                    animation-timing-function: linear;
                    animation-duration: 12s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;

                    &:nth-child(1) {
                        animation-name: rotate;
                    }

                    &:nth-child(2) {
                        animation-name: rotate_reverse;
                    }
                }
            }
        }

        .center {
            .imgBox {
                position: relative;
                overflow: hidden;
                width: pxConvertor(450.9);
                height: pxConvertor(705.9);
                border-radius: 30px;
                margin-bottom: 8vw;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .right {
            width: fit-content;
            margin: 0 auto;

            .titleBox {
                width: pxConvertor(460);

                p {
                    line-height: 2;
                    margin: 1.3vw 0 2.2vw;
                }
            }
        }
    }

    .forth-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 8vw;

        .titleBox {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: pxConvertor(680);
            margin-bottom: 8.5vw;

            h4 {
                margin: 1.2vw 0 0.8vw;
            }

            p {
                text-align: center;
                line-height: 2;
            }

            &::after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 1px;
                height: pxConvertor(74);
                background-color: $title_h4;
                top: 110%;
                transform: scaleY(0);
                transform-origin: center top;
                transition: 0.8s;
            }
        }

        .active {
            &::after {
                transform: scaleY(1) !important;
            }
        }

        .projectBox {
            width: pxConvertor(1452);


            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    .imgBox {
                        border-radius: 50px 0 50px 0;
                        overflow: hidden;
                        width: pxConvertor(342.37);
                        height: pxConvertor(256.522);

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                            transition: transform 0.5s;
                        }
                    }

                    .paraBox {
                        position: relative;
                        margin-top: 1.4vw;
                        margin-left: 2vw;

                        .box {
                            position: relative;
                            z-index: 10;
                            background-color: #9CA5AA;
                            padding-bottom: 6px;

                            .date {
                                color: #736357;
                                font-size: pxConvertor(14);
                                letter-spacing: 0.05em;
                                font-family: 'Jost', sans-serif;

                                span {
                                    font-size: pxConvertor(21);
                                    margin: 0.2vw;
                                    line-height: 1.3;
                                }
                            }

                            h6 {
                                font-size: pxConvertor(18);
                                font-weight: 400;
                                letter-spacing: 0.1em;
                                line-height: 1.2;
                            }
                        }

                        >img {
                            position: absolute;
                            left: -1.5vw;
                            top: -0.7vw;
                            width: pxConvertor(81.2);
                            height: auto;
                            transform-origin: center;
                            transition: transform 1s linear;
                            /* 添加过渡效果 */

                        }
                    }

                    &:hover {
                        .imgBox {
                            img {
                                transform: scale(1.1);
                            }
                        }

                        .paraBox {
                            &>img {
                                transform: rotate(360deg);

                            }
                        }
                    }
                }

            }
        }
    }
}